.experienceTabs {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.tabList {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabButton {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
  transition: var(--transition);
  border: none;
  cursor: pointer;
}

.tabButton:hover {
  background-color: var(--light-navy);
  color: var(--green);
}

.tabButton.active {
  color: var(--green);
  border-left: 2px solid var(--green);
}

.tabPanels {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

.tabPanel {
  width: 100%;
  height: auto;
  padding: 10px 5px;
}

.tabPanel h3 {
  margin-bottom: 5px;
  font-size: var(--fz-xxl);
  font-weight: 500;
  color: var(--lightest-slate);
}

.company {
  color: var(--green);
}

.range {
  margin-bottom: 25px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.tabPanel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: var(--fz-lg);
}

.tabPanel li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  color: var(--slate);
}

.tabPanel li::before {
  content: '▹';
  position: absolute;
  left: 0;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 20px;
}

@media (max-width: 768px) {
  .experienceTabs {
    flex-direction: column;
  }
  
  .tabList {
    display: flex;
    overflow-x: auto;
    width: calc(100% + 100px);
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
  }
  
  .tabButton {
    border-left: none;
    border-bottom: 2px solid var(--lightest-navy);
    min-width: 120px;
    padding: 0 15px 15px;
    text-align: center;
  }
  
  .tabButton.active {
    border-left: none;
    border-bottom: 2px solid var(--green);
  }
  
  .tabPanels {
    margin-left: 0;
  }
}